.inline {
  display: inline-flex;
}
.block {
  display: block;
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel img {
  display: block;
  height: 200px;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 400px;
  }
}
.carousel-cell {
  padding: 2em;
  width: 1000px;
}

img {
  padding: 1em;
}
